
:root.theme-dark {
  --background-color: var(--dark-blue, #000028);
  --background-image: url(..//images/cover-image-dark.png);
  --main-text-color: var(--dark-pink, #F1B2CE);
  --decorated-text-color: var(--fuchsia, #DB00FF);
  --decorated-color: var(--purple, #FF0070);
  --accent-text-color: var(--dark-blue, #000028);
  --accent-color: var(--purple, #FF0070);
  --hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__decor-rec {
  display: flex;
}
