
:root.theme-light {
  --blush: #FFF1F7;
  --light-pink: #FFC2E6;
  --light-purple: #FF8DCB;
  --dark-oliv: #353430;
  --background-color: var(--blush, #FFF1F7);
  --background-image: url(..//images/cover-image-light.png);
  --decorated-text-color: var(--light-pink, #FFC2E6);
  --main-text-color: var(--dark-oliv, #353430);
  --accent-text-color: var(--dark-oliv, #353430);
  --accent-color: var(--light-purple, #FF8DCB);
  --decorated-color: var(--dark-oliv, #353430);
  --hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .header__decor-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--blush, #FFF1F7);
    --background-image: url(..//images/cover-image-light.png);
    --decorated-text-color: var(--light-pink, #FFC2E6);
    --main-text-color: var(--dark-oliv, #353430);
    --accent-text-color: var(--dark-oliv, #353430);
    --accent-color: var(--light-purple, #FF8DCB);
    --decorated-color: var(--dark-oliv, #353430);
    --hover-color: rgb(50 49 45 / 0.4);
  }

  .header__decor-rec {
    display: none;
  }
}
