/*
  Специально для светлой темы при наличии класса.
  Здесь описаны стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-color: var(--light-pink, #FFC2E6);
  --background-image: url(..//images/cover-image-light.png);
  --main-text-color: var(--dark-oliv, #353430);
  --decorated-text-color: var(--light-pink, #FFC2E6);
  --subtitle-text-color: var(--dark-oliv, #353430);
  --accent-color: var(--light-purple, #FF8DCB);
  --button-color: var(--light-purple, #FF8DCB);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  color: var(--main-text-color, #353430);
  background-color: var(--background-color, #FFC2E6);
  background-image: var(--background-image);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-pink, #FFC2E6);
    --background-image: url(..//images/cover-image-light.png);
    --main-text-color: var(--dark-oliv, #353430);
    --decorated-text-color: var(--light-pink, #FFC2E6);
    --subtitle-text-color: var(--dark-oliv, #353430);
    --accent-color: var(--light-purple, #FF8DCB);
    --button-color: var(--light-purple, #FF8DCB);    
  }

  .header__decor-rec {
    display: none;
  }
}
